*{
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;
  max-height: 100vh;
  padding: 25px;
}

.grid-container > * {
  padding: 1px;
  text-align: center;
}

.jugador1{
  grid-area: jugador1;
}

.jugador2{
  grid-area: jugador2;
  transform: rotate(270deg) translate(0px, 80px);
  transform-origin: 50% 50%;
}

.jugador3{
  grid-area: jugador3;
}

.jugador4{
  grid-area: jugador4;
  transform: rotate(90deg) translate(0px, 80px);
  transform-origin: 50% 50%;
}

.tablero{
  position: relative;
  grid-area: tablero;
}

.mesaPinta{
  grid-area: mesaPinta;
}

.cartasEnBaraja{
  min-height: 20px;
  max-height: 20px;
  top: 20;
}

.infoPartidaContainer {
  z-index: 30000;
  grid-area: infoPartida;
  border: 0px solid #281515;
  border-radius: 14px;
  box-shadow: 0px 0px 3px 2px;
  overflow: hidden; 
  position: relative;
  background-color: rgb(158, 196, 217);
}


.puntuacion{
  z-index: 30000;
  border: 0px solid #281515;
  border-radius: 14px;
  box-shadow: 0px 0px 3px 2px;
  overflow: hidden; 
  position: relative;
  background-color: rgb(158, 196, 217);
  grid-area: puntuacion;
  
}

.logPartida {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logPartida h3 {
  margin: 0;
  position: relative;
  top: 30px;
  padding: 1px;
}
.log h3{
  margin: 0;
  padding: 1px;
}

.grid-container {
  height: 100%;
  display: grid;
  gap: 0px;
  grid-template:
  "jugador1       jugador1    jugador1"    120px
  "jugador2       tablero     jugador4"    auto
  ".              jugador3    ."           120px 
  "puntuacion     puntuacion  puntuacion"  170px/
   120px          auto        120px ;
}

.container{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  height: 100px;
  border-radius: 15px;
}

.labelJugadorAzul{
  max-height: 35px;
  min-height: 35px;
  max-width: 150px;
  min-width: 150px;
  background-color: rgb(125, 125, 206);
  border: 1px solid rgb(72, 72, 188);
  border-radius: 12px;
  box-shadow: 1px 1px 3px;
  flex-basis: 100%;
  margin-top: -80px;
}

.labelJugadorAmarillo{
  max-height: 35px;
  min-height: 35px;
  max-width: 150px;
  min-width: 150px;
  background-color: rgb(206, 202, 125);
  border: 1px solid rgb(188, 184, 72);
  border-radius: 12px;
  box-shadow: 1px 1px 3px;
  flex-basis: 100%;
  margin-top: 20px;
}

.carta{
  background-color: hsl(0, 0%, 100%);
  max-height: 96px;
  min-height: 96px;
  max-width: 63px;
  min-width: 63px;
  box-shadow: 0px 0px 2px 1px;
  padding: 5px 5px;
  border-radius: 10px;
}

.carta img{
  max-height: 86px;
}

.carta1, .carta2, .carta3{
  margin: 0;
  height: 80px;
}

.cartaJugada3{
  position: absolute; 
  bottom: 20px; 
  left: 40%; 
}

.cartaJugada2{
  position: absolute; 
  left: 21px;
  top: 30%;
  transform: rotate(90deg); 
}
  
.cartaJugada1{
  position: absolute; 
  top: 20px; 
  left: 30%; 
  transform: rotateZ(180deg);
} 

.cartaJugada4{
  position: absolute;
  top: 40%;
  right: 40px;
  transform: rotateZ(270deg);
}

.cartaPinta{
  height: 8px;
  position: relative; 
  transform: rotateZ(90deg) translate(-40px, -50px);
}

.baraja{
  height: 8px;
  position: relative;
  transform:translate(50px, -80px);
}

.infoJugador{
  grid-area: infoJugador;
  z-index: 35;
  max-width: 400px;
  margin-bottom: 8px;
}

.infoJugador{
}

.infoJugador .cajaTitulo{
  padding: 5px;
  min-height: 90px;
  max-height: 90px;
}

.infoJugador .cajaTitulo img{
  border-radius: 20px;
}

.infoJugador .cajaBody{
  min-height: 79px;
  max-height: 79px;
}

button.btnEmpezar{
  margin-top: 20px;
  margin-left: 5px;
  min-height: 20px;
  max-height: 20px;
  padding: 15px;
  min-height: 50px;
  max-height: 50px;
  background-color: rgb(81, 136, 73);
  text-align: center;
  font-size: medium;
  font-family: 'Cinzel', serif;
}

.imagenContainer{
  margin: auto;
  margin-top: 20px;
  width: 450px;
  background-color: rgb(72, 125, 63);
}
.imagenContainer h2{
  max-height: 200px;
  margin: auto;
  margin-bottom: 10px;
  padding: 30px;
  text-align: center;
  font-size: 70px;
  font-family: 'Cinzel', serif;
  color: white;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  
  box-shadow: 0px 0px 3px 2px;
}
.botones{
  padding: 0;
  margin:0;
  width: 100%;
  display: flex;
}

.imagenBaraja{
  max-height: 300px;
}

.btnSalir{
  max-height: 40px;
  min-height: 40px;
  max-width: 110px;
  min-width: 110px;
  box-shadow: 0px 0px 2px 1px;
}
/*
@media (min-width: 600px){
  .grid-container {
    grid-template:
    "jugador1      jugador1 jugador1"    120px
    "jugador2      tablero  jugador4"    auto
    ".      jugador3 puntuacion"    120px /
    170px        auto     170px ;
  }
}
*/
/*@media (min-width: 927px){*/
  
  .grid-container {
    grid-template:
    ".    infoJugador .              jugador1    infoPartida  ."     150px
    ".    jugador2    mesaPinta      tablero     jugador4     ."     300px
    ".    .           .              jugador3    puntuacion   ."     150px /
    auto  200px        200px          300px        200px      auto;
  }

/*}*/
