*{
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(53, 104, 45);
}

.main{
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;
  max-height: 100vh;
  padding: 25px;
}

.grid-container > * {
  padding: 1px;
  text-align: center;
}

.jugador1{
  grid-area: jugador1;
}

.jugador2{
  grid-area: jugador2;
  transform: rotate(270deg) translate(0px, 80px);
  transform-origin: 50% 50%;
}

.jugador3{
  grid-area: jugador3;
}

.jugador4{
  grid-area: jugador4;
  transform: rotate(90deg) translate(0px, 80px);
  transform-origin: 50% 50%;
}

.tablero{
  position: relative;
  grid-area: tablero;
}

.mesaPinta{
  grid-area: mesaPinta;
}

.cartasEnBaraja{
  min-height: 20px;
  max-height: 20px;
  top: 20;
}

.puntuacion{
  z-index: 30000;
  grid-area: puntuacion;
}

.grid-container {
  height: 100%;
  display: grid;
  gap: 0px;
  grid-template:
  "jugador1       jugador1    jugador1"    120px
  "jugador2       tablero     jugador4"    auto
  ".              jugador3    ."           120px 
  "puntuacion     puntuacion  puntuacion"  170px/
   120px          auto        120px ;
}

.container{
  display: flex;
  justify-content: center;
  flex-flow: row no-wrap;
  padding: 0;
  margin: 0;
  height: 100px;
  border-radius: 15px;
}

.carta{
  background-color: hsl(0, 0%, 100%);
  max-height: 96px;
  min-height: 96px;
  max-width: 63px;
  min-width: 63px;
  box-shadow: 0px 0px 2px 1px;
  padding: 5px 5px;
  border-radius: 10px;
}

.carta img{
  max-height: 86px;
}

.carta1, .carta2, .carta3{
  margin: 0;
  height: 80px;
}

.cartaJugada3{
  position: absolute; 
  bottom: 20px; 
  left: 40%; 
}

.cartaJugada2{
  position: absolute; 
  left: 21px;
  top: 30%;
  transform: rotate(90deg); 
}
  
.cartaJugada1{
  position: absolute; 
  top: -20px; 
  left: 30%; 
  transform: rotateZ(180deg);
} 

.cartaJugada4{
  position: absolute;
  top: 40%;
  right: -20px;
  transform: rotateZ(270deg);
}

.cartaPinta{
  height: 8px;
  position: relative; 
  transform: rotateZ(90deg) translate(-40px, -50px);
}

.baraja{
  height: 8px;
  position: relative;
  transform:translate(50px, -80px);
}

.infoJugador{
  grid-area: infoJugador;
  z-index: 35;
  max-width: 400px;
  margin-bottom: 8px;
}

.infoJugador{
  background-color: rgb(70, 123, 61);
}

.infoJugador .cajaTitulo{
  padding: 5px;
  min-height: 90px;
  max-height: 90px;
}

.infoJugador .cajaTitulo img{
  border-radius: 20px;
}

.infoJugador .cajaBody{
  min-height: 79px;
  max-height: 79px;
}

.infoJugador .cajaBody .btnEmpezar{
  margin-top: 30px;
  min-height: 30px;
  max-height: 30px;
}

button.btnEmpezar{
  padding: 15px;
  margin: auto;
  min-height: 60px;
  max-height: 60px;
  background-color: green;
}

@media (min-width: 600px){
  .grid-container {
    grid-template:
    "jugador1      jugador1 jugador1"    120px
    "jugador2      tablero  jugador4"    auto
    ".      jugador3 puntuacion"    120px /
    170px        auto     170px ;
  }
}

@media (min-width: 927px){
  
  .grid-container {
    grid-template:
    ".    infoJugador .              jugador1    .            ."     150px
    ".    jugador2    mesaPinta      tablero     jugador4     ."     300px
    ".    .           .              jugador3    puntuacion   ."     150px /
    auto  200px        200px          300px        200px      auto;
  }

}
