<main class="grid-container main">
    <div class="jugador1"> 
        <div class="container" *ngIf="this.manosRepartidas">
            <div *ngIf="this.manos[0].cartas[0].imagenUrl" class="carta carta1"><img src="{{this.manos[0].cartas[0].imagenUrl}}"  alt=""></div>
            <div *ngIf="this.manos[0].cartas[1].imagenUrl" class="carta carta2"><img src="{{this.manos[0].cartas[1].imagenUrl}}"  alt=""></div>
            <div *ngIf="this.manos[0].cartas[2].imagenUrl" class="carta carta3"><img src="{{this.manos[0].cartas[2].imagenUrl}}"  alt=""></div>
        </div>
    </div>
    <div class="jugador2">
        <div class="container" *ngIf="this.manosRepartidas">
            <div *ngIf="this.manos[1].cartas[0].imagenUrl" class="carta carta1"><img src="{{this.manos[1].cartas[0].imagenUrl}}"  alt=""></div>
            <div *ngIf="this.manos[1].cartas[1].imagenUrl" class="carta carta2"><img src="{{this.manos[1].cartas[1].imagenUrl}}"  alt=""></div>
            <div *ngIf="this.manos[1].cartas[2].imagenUrl" class="carta carta3"><img src="{{this.manos[1].cartas[2].imagenUrl}}"  alt=""></div>
        </div>
    </div>
    <div class="jugador3">
        <div class="container" *ngIf="this.manosRepartidas">
            <div *ngIf="this.manos[2].cartas[0].imagenUrl" [style.pointerEvents]="pointerEventsValue" id="carataj1" class="carta carta1" (click)="jugarCarta(1)"><img src="{{ this.manos[2].cartas[0].imagenUrl }}"></div>
            <div *ngIf="this.manos[2].cartas[1].imagenUrl" [style.pointerEvents]="pointerEventsValue" id="carataj2" class="carta carta2" (click)="jugarCarta(2)"><img src="{{ this.manos[2].cartas[1].imagenUrl }}"></div>
            <div *ngIf="this.manos[2].cartas[2].imagenUrl" [style.pointerEvents]="pointerEventsValue" id="carataj3" class="carta carta3" (click)="jugarCarta(3)"><img src="{{ this.manos[2].cartas[2].imagenUrl }}"></div>
        </div>
    </div>
    <div class="jugador4"> 
        <div class="container" *ngIf="this.manosRepartidas">
            <div *ngIf="this.manos[3].cartas[0].imagenUrl" class="carta carta1"><img src="{{this.manos[3].cartas[0].imagenUrl}}"  alt=""></div>
            <div *ngIf="this.manos[3].cartas[1].imagenUrl" class="carta carta2"><img src="{{this.manos[3].cartas[1].imagenUrl}}"  alt=""></div>
            <div *ngIf="this.manos[3].cartas[2].imagenUrl" class="carta carta3"><img src="{{this.manos[3].cartas[2].imagenUrl}}"  alt=""></div>  
        </div>
    </div>
    <mat-card class="infoJugador">
        <mat-card-title-group class="cajaTitulo">
          <mat-card-title>Nombre Jugador</mat-card-title>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
        <mat-card-content class="cajaBody">
            <button class="btnEmpezar" *ngIf="this.manosRepartidas" >Reiniciar partida</button>
            <button class="btnEmpezar" *ngIf="!this.manosRepartidas" (click)="empezarPartida()">Empezar partida</button>
        </mat-card-content>
      </mat-card>
    <div class="tablero"> 
        
        <div class="container">
            <div [style.zIndex]="zValue1" class="carta cartaJugada1" *ngIf="this.tablero[0]"><img src="{{this.tablero[0].imagenUrl}}"  alt="1"></div> 
                <div [style.zIndex]="zValue2" class="carta cartaJugada2" *ngIf="this.tablero[1]"><img src="{{this.tablero[1].imagenUrl}}"  alt=""></div> 
                <div [style.zIndex]="zValue3" class="carta cartaJugada3" *ngIf="this.tablero[2]"><img src="{{this.tablero[2].imagenUrl}}"  alt=""></div> 
                <div [style.zIndex]="zValue4" class="carta cartaJugada4" *ngIf="this.tablero[3]"><img src="{{this.tablero[3].imagenUrl}}"  alt=""></div> 
            </div>
        </div>
    <div class="puntuacion"> 
        <h3 class="log">{{this.logg}} Hola</h3>
    </div>
    <div class="mesaPinta">
        <div  *ngIf="this.manosRepartidas && this.cartasEnLaBaraja >= 1" class="carta cartaPinta"><img src="{{ this.pinta.imagenUrl }}"></div>
        <div  *ngIf="this.manosRepartidas && this.cartasEnLaBaraja >= 2" class="carta baraja"><img src="../../assets/cartas/back.png"></div> 
        <div class="cartasEnBaraja"  *ngIf="this.manosRepartidas && this.cartasEnLaBaraja >= 1">Cartas restantes: {{this.cartasEnLaBaraja}}</div>
    </div>
    
</main>    