.mainContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(53, 104, 45);
    background-image: url('../assets/fondoCartas.jpg');
    background-size: cover;
    background-position: center;
    filter: opacity(0.1);
    z-index: -1000;
}

mat-toolbar{
    background-color: rgb(108, 151, 108);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
  }
  
  .nombre {
    margin-left: auto;
    margin-right: 16px;
  }
  